@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-dark-theme(
    (
      color:(
        primary:$primary,
        accent: $accent,
        warn: $warn,
      )
    )
);
// Apply the dark themes
@media (prefers-color-scheme: dark) {
  @include mat.core-color($dark-theme);
  @include mat.all-component-themes($dark-theme);
  body {
    background-color: #181818;
  }
  header, footer {
    background-color: #424242;
  }
  form {
    background-color: #181818;
  }
  button {
    color: #fbfbfb;
  }
  // matSnackBar
  .snackBar {
    background-color: #fbfbfb;
    color: #181818;
  }
}
