<mat-toolbar>
  <button mat-flat-button [matMenuTriggerFor]="language" class="language">
    <mat-icon matSuffix>language</mat-icon>
  </button>
  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="UnitedStates()" (keyup.enter)="UnitedStates()" i18n="@@4992519833511954918">🇺🇸 United States</button>
    <button mat-menu-item (click)="China()" (keyup.enter)="China()" i18n="@@7065100373741461382">🇨🇳 China</button>
    <button mat-menu-item (click)="HongKong()" (keyup.enter)="HongKong()" i18n="@@5860302252638307784">🇭🇰 Hong Kong,China</button>
  </mat-menu>

  <button mat-flat-button class="about" (keyup.enter)="about()">
    <a routerLink="/about" routerLinkActive="active" i18n="@@3193388349000370860">About</a>
  </button>
</mat-toolbar>

