#container {
  position: static;
  height: 100px;
  top: 0;
}

#header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px;
  gap: 0 0;
  grid-template-areas:
    '. home notes group . search search search search . login signup'
}

p {
  height: 100%;
  text-align: center;
}

button {
  font-size: 16px;
  width: 100px;
}

#button_avatar {
  width: 50px;
  height: 50px;
}

#home {
  grid-area: home;
}

#notes {
  grid-area: notes;
}

#groups {
  grid-area: group;
}

#search {
  grid-area: search;
}

input {
  width: 100%;
}

#search__input {
  font-size: 16px;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

#login {
  grid-area: login;
}

#signup {
  grid-area: signup;
}

#me {
  grid-area: signup;
}
