<mat-toolbar>

  <div class="button">
    <button mat-flat-button color="primary" (keyup.enter)="home()">
      <a routerLink="/" routerLinkActive="active" i18n="@@8134905180384931783">Home</a>
    </button>
  </div>

  <div class="button">
    <button mat-flat-button color="primary" (keyup.enter)="learn()">
      <a routerLink="/learn" routerLinkActive="active" i18n="@@1676795155482331512">Learn</a>
    </button>
  </div>

  <div class="button">
    <button mat-flat-button color="primary" (keyup.enter)="notes()">
      <a routerLink="/note" routerLinkActive="active" i18n="@@1320277101496982634">Notes</a>
    </button>
  </div>

  <div class="button community">
    <button mat-flat-button color="primary" (keyup.enter)="community()">
      <a routerLink="/community" routerLinkActive="active" i18n="@@8932343533763733220">Community</a>
    </button>
  </div>

  <!--
  If you are not signed in,the `sign in` and `sign up` buttons are displayed,
  if you are signed in, the `me` button is displayed
  -->
  <div *ngIf="show; then True; else False"></div>
  <ng-template #True>
    <div class="button signin">
      <button mat-flat-button color="primary" (keyup.enter)="signup()">
        <a routerLink="/account/signin" routerLinkActive="active" i18n="@@1584359687489669964">Sign in</a>
      </button>
    </div>
    <div class="button signup">
      <button mat-flat-button color="primary" (keyup.enter)="signup()">
        <a routerLink="/account/signup" routerLinkActive="active" i18n="@@1571753007969378385">Sign up</a>
      </button>
    </div>
  </ng-template>
  <ng-template #False>
    <div class="me">
      <button mat-mini-fab color="primary" aria-label="account setting"
              (click)="me()" (keyup.enter)="me()">
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-toolbar>
