<p>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput required [type]="show ? 'password' : 'text'" class="input"
           (keyup)="newPassword(value)" [(ngModel)]="value">
    <button mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="show">
      <mat-icon matSuffix>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input matInput required [type]="show ? 'password' : 'text'" class="input"
           (keyup)="newPassword2(value2)" [(ngModel)]="value2">
    <button mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="show">
      <mat-icon matSuffix>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>
