<app-header></app-header>
<form>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput required type="text" class="input"
             [(ngModel)]="signin.username"
             [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error>{{errorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput required type="password" class="input"
             [(ngModel)]="signin.password"
             [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix>password</mat-icon>
      <mat-error>{{errorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <p class="button signin">
    <button mat-raised-button color="primary" type="button"
            (click)="onSubmit()" (keyup.enter)="onSubmit()">Sign in
    </button>
  </p>
</form>
<app-footer></app-footer>
