<p>
  <mat-form-field appearance="outline" class="country">
    <mat-label i18n="@@2324134908861252289">Country</mat-label>
    <mat-select panelClass="select" disableRipple required
                (keyup)="newCountry(value)"
                (mouseenter)="newCountry(value)"
                [(ngModel)]="value">
      <mat-option *ngFor="let c of countries"
                  [value]="c.value">{{c.key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="number">
    <mat-label i18n="@@9178730033899945920">Phone number</mat-label>
    <input matInput required class="input" type="number"
           (keyup)="newNumber(value2)" [(ngModel)]="value2" [formControl]="formControl">
    <button mat-icon-button matSuffix disabled>
      <mat-icon matSuffix>phone</mat-icon>
    </button>
    <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
  </mat-form-field>
</p>
