
form {
  width: 20%;
  height: 50%;
  text-align: center;
}

mat-form-field {
  width: 90%;
}

button {
  font-size: 16px;
  width: 35%;
}

@media (prefers-color-scheme: dark) {

  form {
    background-color: #303030;
  }
  input {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  input {
    color: #000000;
  }
}

.placeholder {
  width: 20%;
  visibility: hidden
}

.onSubmit {
  background-color: #3375ef;
}

