<app-header></app-header>
<div>
  <form>
    <!--username-->
    <p>
      <mat-form-field appearance="outline">
        <mat-label lang="en">Username</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="signup.username"
          [formControl]="usernameFormControl"
          lang="en"
        />
        <mat-error *ngIf="usernameFormControl.hasError('required')" lang="en">
          Username is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </p>
    <!--email-->
    <p class="email">
      <mat-form-field appearance="outline">
        <mat-label lang="en">Email</mat-label>
        <input
          type="email"
          matInput
          [(ngModel)]="signup.email"
          [formControl]="emailFormControl"
          lang="en"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
          lang="en"
        >Please enter a valid email address
        </mat-error
        >
        <mat-error *ngIf="emailFormControl.hasError('required')" lang="en">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <!--password-->
    <p>
      <mat-form-field appearance="outline">
        <mat-label lang="en">Password</mat-label>
        <input
          matInput
          [(ngModel)]="signup.password"
          [formControl]="passwordFormControl"
        />
        <mat-error *ngIf="passwordFormControl.hasError('required')" lang="en"
        >Password is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </p>
    <!--confirm password-->
    <p>
      <mat-form-field appearance="outline">
        <mat-label lang="en">Confirm password</mat-label>
        <input
          type="password"
          matInput
          [(ngModel)]="signup.password2"
          [formControl]="password2FormControl"
        />
        <mat-error *ngIf="password2FormControl.hasError('required')" lang="en"
        >Password is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </p>


    <!--forget password-->
    <p>
      <button mat-raised-button lang="en">Forget</button>
      <!-- placeholder element,hidden-->
      <button class="placeholder"></button>
      <!--onSubmit-->
      <button mat-raised-button (click)="onSubmit()"
              lang="en" class="onSubmit">
        Sign Up
      </button>
    </p>
  </form>
</div>
<app-footer></app-footer>
