form {
  height: 50%;
  min-width: 300px;
  max-width: 350px;
  text-align: center;
}

mat-form-field {
  width: 90%;
}

button {
  font-size: 16px;
  width: 35%;
  bottom: 10px;
}

.placeholder {
  width: 20%;
  visibility: hidden
}

// Dark mode
@media (prefers-color-scheme: dark) {
  form {
    background-color: #303030;
  }
  input {
    color: #fbfbfb;
  }
}

// Light mode
@media (prefers-color-scheme: light) {
  form{
    background-color: #fbfbfb;
  }
  input {
    color: #181818;
  }
}



