.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  height: 600px;
  grid-template-areas:
  ". . . . . . . ."
    ". . editor editor editor editor editor . "
    ". . editor editor editor editor editor . "
    ". . editor editor editor editor editor . "
    ". . editor editor editor editor editor . "
    ". . editor editor editor editor editor . "
}

.editor {
  grid-area: editor;
}
