p {
  height: 100%;
  text-align: center;
}

button {
  font-size: 16px;
  width: 100px;
}

@media (prefers-color-scheme: dark) {
  button {
    color: #fbfbfb;
  }
}

@media (prefers-color-scheme: light) {
  button {
    color: #424242;
  }
}

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px;
  grid-template-areas: ". home notes group . search search . . login signup .";
}

.home {
  grid-area: home;
}

.notes {
  grid-area: notes;
}

.group {
  grid-area: group;
}

.search {
  grid-area: search;
}

input{
  width: 100%;
}

.search__input {
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.login {
  grid-area: login;
}

.signup {
  grid-area: signup;
}
