header {
  background-color: #424242;
  display: grid;
  height: 70px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

button {
  background-color: #0171e3;
  color: rgb(255, 255, 255);
}

.home {
  grid-area: 1 / 2 / 2 / 3;
}
.note {
  grid-area: 1 / 3 / 2 / 4;
}
.discuss {
  grid-area: 1 / 4 / 2 / 5;
}
.search {
  grid-area: 1 / 7 / 2 / 10;
}
.login {
  grid-area: 1 / 13 / 2 / 14;
}
.signup {
  grid-area: 1 / 14 / 2 / 15;
}
.me {
  grid-area: 1 / 13 / 2 / 15;
}
