mat-toolbar {
  background-color: rgb(255, 255, 255);
  height: 40px;
  margin-top: 1%;
}

.login {
  margin-left: 38%;
  width: 6%;
}

.signup {
  margin-left: 2%;
  width: 6%;
}

mat-icon {
  color: rgb(255, 255, 255);
}

.me {
  display: flex;
  margin-left: 48%;
}
