<header>
  <p class="home">
    <button mat-raised-button (keyup.enter)="home()" (click)="home()" lang="en">
      Home
    </button>
  </p>

  <p class="notes">
    <button mat-raised-button lang="en">Notes</button>
  </p>

  <p class="group">
    <button mat-raised-button lang="en">Group</button>
  </p>
  <!--
  如果用户未登录,显示'登录'和'注册'按钮,
  已登录,显示'个人中心'图标按钮
  -->
  <div *ngIf="show; then True; else False"></div>
  <ng-template #True>
    <p class="login">
      <button mat-raised-button (keyup.enter)="login()"
              (click)="login()" lang="en" color="primary">
        Login
      </button>
    </p>
    <p class="signup">
      <button mat-raised-button (keyup.enter)="signup()"
              (click)="signup()" lang="en" color="primary">
        Sign Up
      </button>
    </p>
  </ng-template>
  <ng-template #False>
    <p class="me">
      <button mat-mini-fab aria-label="account setting"
              (click)="me()" (keyup.enter)="me()">
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </p>
  </ng-template>
</header>
