<mat-grid-tile-header>
  <p>
    <button
      mat-raised-button
      color="primary"
      (keyup.enter)="home()"
      (click)="home()"
    >
      Home
    </button>
  </p>

  <!--
 如果用户未登录,显示'登录'和'注册'按钮,
 已登录,显示'个人中心'图标按钮
 -->
  <div *ngIf="show; then True; else False"></div>
  <ng-template #True>
    <p>
      <button
        mat-raised-button
        color="primary"
        (keyup.enter)="login()"
        (click)="login()"
      >
        登录
      </button>
    </p>
    <p>
      <button
        mat-raised-button
        color="primary"
        (keyup.enter)="signup()"
        (click)="signup()"
      >
        注册
      </button>
    </p>
  </ng-template>
  <ng-template #False>
    <p>
      <button
        mat-mini-fab
        color="primary"
        aria-label="account setting"
        (click)="me()"
        (keyup.enter)="me()"
      >
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </p>
  </ng-template>
</mat-grid-tile-header>
