<app-header></app-header>

<h4 i18n="@@6338928358955846971">The verification code has been sent to the mailbox, <br>please check the inbox</h4>

<form>
  <verification-code (verificationCode)="code($event)"></verification-code>
  <confirm-password (password)="password1($event)" (password2)="password2($event)"></confirm-password>
  <p class="button modify">
    <button mat-raised-button color="primary" type="button"
            (click)="onSubmit()" (keyup.enter)="onSubmit()" i18n="@@5881559481299775952">Modify password
    </button>
  </p>
</form>

<app-footer></app-footer>
